@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'Plus Jakarta Sans', serif;
}

.navbar {
  background: #f8f9fa !important;
  height: 5rem;
}
.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
}

.footer-info {
  height: 8rem;
  background-color: #ebebeb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer-info-socials {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.footer-info-socials i {
  margin: 0 1rem;
  color: #222222;
}

.footer-info-links {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer-info-links a {
  text-decoration: none;
  color: #222222;
}
.footer-info-links a:hover {
  text-decoration: underline;
}

/* cards */
.listing-link {
  text-decoration: none;
}

.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.card-text {
  font-weight: 400 !important;
}

.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

.add-btn,
.edit-btn {
  background-color: #fe424d !important;
  border: none !important;
}

.add-btn:hover,
.edit-btn:hover {
  background-color: #ff6b6b !important;
}

/* Show page */
.show-img {
  height: 35vh;
}

.btns {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

/* Mapbox */
#map {
  height: 400px;
  width: 90vh;
}

/* listing_img */
.listing_img {
  width: 400px;
  height: 350px;
}
